.contacts{
    background-color: white;
    width: 100%;
}
.contenitore__contacts{
    display: flex;
    /* gap: 1rem; */
    /* padding: 1rem 1rem 0 1rem; */
}
.contacts__box{
    background-color: white;
    color: black;
    flex-grow: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    border-width: 100%;
}

.contact__box__title{
    color: rgb(189, 27, 149);
}
.contacts__info a{
    color: black;
}
.contacts__info:hover a{
    color: rgb(189, 27, 149);
    transition: all 0.3s ease;
}
.icon__box{
    
}
.contacts__icon{
    color: inherit;
    font-size: 3rem;
    cursor: pointer;
}
.contacts__icon:hover{
    color: rgb(189, 27, 149);
}
.icon__box{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}