.servizi{
    /* border: 3px solid red; */
    text-align: center;
}
.servizi__title{
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.servizi__box{
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    
}
.pricing__box__description1{
    margin-bottom: 1rem;
    font-size: 0.75rem;
    color: rgb(189, 27, 149);
}
.pricing__box__description2{
    /* border: 3px solid pink; */
    max-width: 55ch;
    /* margin-bottom: 1rem; */
    /* background-color: rgb(189, 27, 149); */
    padding: 0.5rem;
    border-radius: 5px;
    color: black;
    margin-bottom: 1rem;
    margin-inline: auto;
}


.btn{
    background-color:rgb(189, 27, 149);
    color: white;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(10,10,10);
    transition: all 0.5s ease;
    
}
.tr{
    display:flex;
    width: 100%;
    justify-content: flex-end;
    
}