.container{
    width: 100%;
    /* border: 3px solid red; */
    margin-inline: auto;
    margin-bottom: 5rem;
    padding-inline: 0.5rem;
}
@media (min-width:320px){
    .header__title{
        font-size: 1.8rem;
    }
    .show{
        display: none;
        /* font-size: 0.6rem; */
    }
    .menu-bar{
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .info__title{
        font-size: 1.2rem;
    }
    .info_paragraph1{
        font-size: 0.5rem;
    }
    .info-btn{
        width: 70px;
        font-size: 0.5rem;
    }
    .menu.show .menu__link{
        background-color: rgb(1, 1, 1);
        color: rgb(255, 255, 255);
        width: 100px;
        padding: 0.5rem;
        text-align: center;
        border-radius: 5px;
    }
    .menu.show .menu__link:hover{
        background-color: rgb(189, 27, 149);
        text-decoration: none;
        transition: background-color, 0.5s ease;
    }
    .servizi__title{
        font-size: 1.2rem;
    }
    
    .pricing__box__title{
        font-size: 0.8rem;
    }
    .pricing__box__description1,.pricing__box__description2{
        font-size: 0.5rem;
    }
    .pricing__btn{
        font-size: 0.5rem;
    }
    /* .form__section{
        border: 3px solid orange;
    }
    .form{
        border: 10px solid green;
    } */
    
    .contenuto{
        width:100%;
    }
    
    .contenitore__contacts{
        flex-wrap: wrap;
    }
    .contenitore__contacts .contacts__box:nth-child(1){
        border-bottom: 2px solid #ccc;
    }
    .contenitore__contacts .contacts__box:nth-child(2){
        border-bottom: 2px solid #ccc;
    }
    .contacts__box{
        /* border: 3px solid red; */
    }
    .contact__box__title{
        font-size: 1rem;
    }
    .contacts__info{
        font-size: 0.5rem;
    }
    .contacts__icon{
        font-size: 0.8rem;
    }
    
}
@media (min-width:475px){
    .container{
        max-width:475px;
    }
    .header__title{
        font-size: 2rem;
    }
    .info_paragraph1{
        font-size: 0.rem;
    }
    
    
}

/* sm */
@media (min-width:640px){
    .container{
        max-width:640px;
    }
    .header__title{
        font-size: 2.5rem;
        margin-left: 2.5rem;
    }
    .menu{
        display: flex;
        font-size: 1rem;
        justify-content: end;
        gap: 1rem;
        flex-grow:1;
        margin-right: 2.5rem;
        /* font-size: 1.1rem; */
        /* border: 3px solid blue; */
    }
    .menu__link{
        background: none;
        color: white;
    }
    .menu__link:hover{
        background:none;
        text-decoration-color: rgb(189, 27, 149);
    }
    .menu-bar{
        display: none;
    }
    .info__title{
        font-size: 1.5rem;
    }
    .info_paragraph1{
        font-size: 0.7rem;
    }
    .info-btn{
        width: 100px;
        font-size: 0.7rem;
    }
    .servizi__title{
        font-size: 1.5rem;
    }
    .pricing__box__title{
        font-size: 1rem;
    }
    .pricing__box__description1,.pricing__box__description2{
        font-size: 0.8rem;
    }
    .pricing__btn{
        font-size: 0.8rem;
    }
    
    .input-box,.scelta-servizio{
        font-size: 0.8rem;
    }
    .contenitore__contacts{
        flex-wrap: nowrap;
    }
    .contenitore__contacts .contacts__box:nth-child(1){
        border-right: 2px solid #ccc;
    }
    .contenitore__contacts .contacts__box:nth-child(2){
        border-right: 2px solid #ccc;
    }
    
    .contact__box__title{
        font-size: 1rem;
    }
    .contacts__info{
        font-size: 0.8rem;
    }
    .contacts__icon{
        font-size: 1rem;
    }
} 

/* md */
@media (min-width:768px){
    .container{
        max-width:768px;
    }
    .header__title{
        font-size: 3rem;
    }
    .menu{
        font-size:1.2rem;
    }
    .info__title{
        font-size: 2rem;
    }
    .info_paragraph1{
        font-size: 1rem;
    }
    .info-btn{
        font-size: 1rem;
    }
    .servizi__title{
        font-size: 2rem;
    }
    .pricing__box__title{
        font-size: 1.2rem;
    }
    .pricing__box__description1,.pricing__box__description2{
        font-size: 1rem;
    }
    .pricing__btn{
        font-size: 1rem;
    }
    
    .input-box,.scelta-servizio{
        font-size: 1rem;
    }
    .contact__box__title{
        font-size: 1.2rem;
    }
    .contacts__info{
        font-size: 1rem;
    }
    .contacts__icon{
        font-size: 2.5rem;
    }
    
}

/* lg */
@media (min-width:1024px){
    .container{
        max-width:1024px;
    }
    .contenitore__servizi{
        /* border:3px solid blue; */
        display: grid;
        grid-template-areas:
        'a a a b b'
        'c c d d e';
        gap: 1.2rem;
        padding: 1rem;
    }
    .servizi__box{
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
    }
    .servizi__box--a{
        grid-area: a;
    }
    .servizi__box--b{
        grid-area: b;
    }
    .servizi__box--c{
        grid-area: c;
    }
    .servizi__box--d{
        grid-area: d;
    }
    .servizi__box--e{
        grid-area: e;
    }
    
}

/* xl */
@media (min-width:1280px){
    .container{
        max-width:1280px;
    }
}

/* 2xl */
@media (min-width:1536px){
    .container{
        max-width:1536px;
    }
}